#task-list .task{
	margin-bottom:20px;
}
#task-list .task .task-header .task_name{
	font-size: 14px;
	font-weight: bold;
}
#task-list .task .task-header .task_date_due{
	font-size: 12px;
}
#task-list .task .task-header{
	display: block;
	border: solid 1px #CCC;
	background-color: #DDD;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
}
#task-list .task .task-content.in{
	display: block;
	border: solid 1px #CCC;
	border-top:none;
	background-color: #EEE;
	padding: 5px;
}
#task-list .task .task-content{
	font-size: 11px;
}

#task-list .task .task-content h1,
#task-list .task .task-content h2,
#task-list .task .task-content h3,
#task-list .task .task-content h4,
#task-list .task .task-content h5,
#task-list .task .task-content h6,
#task-list .task .task-content p{
	margin: 0px 0px 10px 0px;
}
#task-list .task .task-content h1{
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	text-decoration: underline;
}
#task-list .task .task-content h2{
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
}
#task-list .task .task-content h3{
	font-size: 13px;
	font-weight: bold;
	line-height: normal;
	font-style: italic;
}
#task-list .task .task-content .notes{
	font-size: 90%;
	border-top:solid 1px #000;
	padding: 5px;
	margin: 5px;
}